<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
    <%- include('../partials/navbar') %>

    <h1>Available Flights</h1>

    <a href="/flights/new">Add new flight</a>

    <ul>
        <% flights.forEach(flight => { %>
            <li>
                <a href="/flights/<%= flight._id %>">
                    <%= flight.airlineName %> - <%= flight.flightNumber %>
                </a>
            </li>
      <%  }); %>
    </ul>

    <a href="/auth/sign-in">⬅Back to sign in</a>

</body>
</html>